<nav>
<a href="/">Home</a> |
<a href="/products/">Product</a> |
<a href="/users/">User</a> |
<a href="/about/">About</a> |
</nav>

<h2>Data sources & ERD</h2>
<h3>Data sources:</h3>
<p><img src="/images/datasource.PNG"></p>
<h3>ERD:</h3>
<p><img src="/images/ERD.png" style></p>
